</div>
</td>
</tr>
<tr>
<td style="background-color: #f7f8f9; padding-top: 30px"><p class="footer">
  &copy; Seed Vault Ltd. 3300 Powell St #101, Emeryville, CA 94608, USA</p>
  <p class="footer">
    <a href="https://www.seedtoken.io/" target="_blank" style="padding: 0 5px;">Website</a>
    <a href="https://github.com/SeedVault/" target="_blank" style="padding: 0 5px;">Github</a>
    <a href="https://twitter.com/SEED_token" target="_blank" style="padding: 0 5px;">Twitter</a>
    <a href="https://t.me/seedtoken" target="_blank" style="padding: 0 5px;">Telegram</a>
    <a href="https://www.linkedin.com/company/seed-vault-ltd" target="_blank" style="padding: 0 5px;">Linkedin</a>
</p><p><br /></p></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>
