<% include ./_header.ejs %>
<p>Hey there,</p>
<p>We've received a request to reset your password. If you didn't make the 
request, just ignote this e-mail. Otherwise, you can reset your password with
this code:
</p>
<p class="code"><%= code %></p>
<p>Thanks,</p>
<p>The SEED Team</p>
<% include ./_footer.ejs %>