<% include ./_header.ejs %>
<h1>Almost there!</h1>
<p>Here is the confirmation code to validate your account:</p>
<p class="code"><%= code %></p>
<p>All you have to do is copy this code and
  paste it to your form to complete the account registration
  process.</p>
<% include ./_footer.ejs %>
