<% include ./_header.ejs %>
<p>¡Hola!</p>
<p>Hemos recibido una solicitud para recuperar tu contraseña. Si no fuiste tú, 
 entonces solo ignora este e-mail. En caso contrario, puedes recuperar tu 
 contraseña con el siguiente código:
</p>
<p class="code"><%= code %></p>
<p>Gracias,</p>
<p>El equipo SEED</p>
<% include ./_footer.ejs %>