<% include ./_header.ejs %>
<h1>Casi terminamos</h1>
<p>Este es el código de confirmación para verificar tu cuenta:</p>
<p class="code"><%= code %></p>
<p>Todo lo que tienes que hacer es copiarlo y pegarlo en el formulario para
  finalizar el proceso de registración.</p>
<% include ./_footer.ejs %>
